img{
  width: 20%;
}
/*.img-container{
  text-align: center;
  position: absolute;
}

#left{
display: inline-block;
width: 25%;
}

#center{
display: inline-block;
width: 25%;
}

#right{
display: inline-block;
width: 25%;
}
*/
