canvas{
  width: 75%;
  min-width: 400px;
}

img{
  width: 300px;
  height: 350px;
  display: inline-block;
  border: 2px solid black;
}

/*
#left{
display: inline-block;
width: 25%;
}

#center{
display: inline-block;
width: 25%;
}

#right{
display: inline-block;
width: 25%;
}
*/
